# Node.js
node_modules/

# Output files
dist/
out/
build/
*.log
npm-debug.log*

# Log files
*.log

# Visual Studio Code
.vscode/

# Editor-specific files
*.sublime-project
*.sublime-workspace
*.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
